/* CSS BY Sydney Rush */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ROOT VARIABLES */
:root {
	--Teal :#4CA7C0;
	--Purple: #484FB7;
	--Lavender: #6B8FE7;
	--Yellow: #E9BB57; 
	--Pink: #D9526F;
	--Dark-gray: #1E1E1E; 
	--White: #ffffff; 
}
/* GLOBAL STYLES (mobile first/small) */
/* header styles */
body {
	font-family: 'Inter', sans-serif;
	background-color: var(--Lavender);
	color: var(--White);
		
}
header,main,footer {
	max-width: 450px;
	margin: 0 auto;
	
	background-color: var(--Purple);
	max-width: 450px;
}
header{
	text-align: center;
}
h1{
	font-family: 'Kavoon', cursive;
	font-size: 3em;
	padding:20px;
}
header p{
	font-size: 1.2em;
	padding: 10px;
	margin-bottom: 20px;
}
nav {
	background-color: var(--Yellow);
	padding: 20px;
	
}
nav h2 {
	font-size: 1.5em;
	font-family: 'Kavoon', cursive;
	color: var(--Dark-gray);
}

nav ul li {
	padding: 10px;
	background-color: var(--White);
	margin: 10px ;	
	text-align: center;	
}
nav a{
	text-decoration: none;
}
nav li:hover{
	color: var(--Dark-gray);
	background-color: var(--Pink);
}
/* main styles */
/* services section */

#services section {
	padding: 20px;
	background-color: var(--White);
	color: var(--Dark-gray);
	margin: 20px;
	border-radius: 10px;
}
h2{
	font-family: 'Kavoon', cursive;
	font-size: 2em;
	padding: 10px;
	
}
h3{
	font-size: 1.5em;
	padding: 10px;
	color: var(--Yellow);
}
h4{
	font-size: 1.15em;
	padding: 10px;
	color: var(--Purple);
}
section p{
	padding: 10px;
	color: var(--Dark-gray);
}
/*why choose us section */
#why-choose-us {
	background-color: var(--Pink);
	
}
#why-choose-us ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	padding: 10px;
	background-color: var(--Pink);
}
#why-choose-us li:nth-child(1){
	color: var(--Dark-gray);
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	background-color: var(--Teal);
}
#why-choose-us li:nth-child(2){
	color: var(--Dark-gray);
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	background-color: var(--Lavender);
}
#why-choose-us li:nth-child(3){
	color: var(--Dark-gray);
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	background-color: var(--Yellow);

}	
#why-choose-us li:nth-child(4){
	color: var(--Dark-gray);
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	background-color: var(--White);
}
/*prices section */
table {
	width: 50%;
	border-collapse: collapse;
	justify-self: center;
}
table, th, td {
	border: 1px solid var(--Yellow);
}
th, td {
	padding: 12px 15px;
	text-align: left;
}
th {
	background-color: var(--Yellow);
	color: var(--Dark-gray);
}
td {
	background-color: var(--White);
	color: var(--Dark-gray);
}
#prices p{
	color: var(--Yellow);
}
/* first steps styles */
#first-step {
	background-color: var(--Pink);
	color: var(--White);
	display: flex;
	flex-direction: column;
	align-items: center;
}
#first-step p {
	padding: 10px;	
	color: var(--White);
}
#first-step a{
	text-decoration: none;
	background-color: white;
	color: var(--Dark-gray);
	padding: 10px 50px;
	margin: 10px;
	border-radius: 15px; 
	box-shadow: var(--Dark-gray) 2px 2px 5px;		
}
#first-step a:hover{
	background-color: var(--Yellow);
	color: var(--Dark-gray);
	box-shadow: var(--Dark-gray) 4px 4px 10px;
}
